@charset "utf-8";
@import "normalize";
@import "source/stylesheets/materialize.css";
@import "source/stylesheets/materialize.min.css";
.side-nav {
    background-color: white;
    width: 300px;
}

.bold {
    font-style: bold;
    font-size: 20px;
}

ul {
    margin-left: 10px;
}

.logo {
    margin-left: 50px;
}

.background1 {
    background-color: #ff8080;
    color: white;
    position: relative;
    font-family: sans-serif;
}

.background2 {
    background-color: #404040;
    color: white;
    position: relative;
    font-family: sans-serif;
    height: 60px;
}