<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN">
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wi<dth, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    
    <title>Bell</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                <div class="spacing">
                   <div class='pull-left'><h2>Bell</h2>
                   </div>
                   <div class='pull-right'>
                   <a href="#"><i class="fa fa-twitter" style="font-size:30px;color: black;"></i></a>
                   <a href="#"><i class="fa fa-facebook-square" style="font-size:30px;color: black;"></i></a>
                   <a href="#"><i class="fa fa-dribbble" style="font-size:30px;color: black;"></i></a>
                   </div>
                </div>
                </div>
            </div>
        </div>
    

         <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                <div class="text-center">
                    <p><h3>DONT WORRY, THE NEW SITE IS<h3></p>
                    <p><h3>ALMOST DONE</h3></p>
                    <p><h1>143:19:42:36</h1></p>
                    <p><div class="spacing"><h2>days        hours         minutes        seconds<h2>
                       </div></p>
                </div>
                </div>
                
            
                <div class="col-md-12 text-center">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>

                    <br>
                    <br>
                    <br>
                    <br> 
                    <div class="row">
                    <div class="col-lg-12 center-block">
                    <div class="dropdown ">
                    <button class="btn btn-primary dropdown-toggle center-block" type="button" data-toggle="dropdown">Learn More
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                    </div>
                    </div>
                    </div>
        </div>
   </div>
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                           <div class="text-center" style="font-family: 'Oswald', sans-serif;">
                           <h3><b>ABOUT US</b></h3>
                           <br> <p style="line-height: 32px; font-family: 'Oswald', sans-serif;"> 
                                

                                At our core, we’re makers who care deeply that what we make is worthy.
                            <br>
                            Red Panthers is a software consultancy that specialises in Ruby on Rails.<br> We use an innovative unit (pair) based model in all our projects. As part of the model we use of modern agile<br>project management methodologies, interaction design,
                            effective product strategy, trust, transparency<br>and a carefully selected suite of tools to ensure that our clients get the best technological solutions <br>possible as we turn their ideas into scalable and maintainable products.<br> We believe
                            in focusing on the future and moving forward.</p><br><br><br>
                           </div>
                 </div>
              </div>
          </div>
          <div class="container-fluid">
               
                  
                            <div class="allign">
                            
                            <h3 class="text-center" style="font-family: 'Oswald', sans-serif;"><b>FEATURES</b></h3>
                                <ul class="list-inline clearfix" style="font-family: 'Oswald', sans-serif;">
                                <li class="text-center"><i class="fa fa-mobile-phone" style="font-size:48px;color:#00FFFF"></i><h4 style="font-family: 'Oswald', sans-serif;">Fully Responsive</h4><hr><h5 style="line-height: 20px; font-family: 'Oswald', sans-serif;">Crafted to provide an optimal viewing experience with a minimum of resizing,and panning a wide range of devices</h4> </li>
                                <li class="text-center"><i class="fa fa-twitter" style="font-size:48px;color: #00FFFF;"></i><h4 style="font-family: 'Oswald', sans-serif;">Twitter Feed</h4><hr><h5 style="line-height: 20px; font-family: 'Oswald', sans-serif;" >Encourage visitors to follow you and interact with you, which can result in new connections,clients or just friends</h4></li>
                                <li class="text-center"><i class="fa fa-clock-o" style="font-size:48px;color:#00FFFF"></i><h4 style="font-family: 'Oswald', sans-serif;">Countdown Clock</h4><hr><h5 style="line-height: 20px; font-family: 'Oswald', sans-serif;">Animated LIVE countdown that counts seconds, minutes, hours and days to any date. </h4></li>
                                </ul>
                             
                            </div>

                           
            </div>
            <div class="container">
            <div class="bcolor">
               <div class="text-center">
                <h4 style="font-family: 'Oswald', sans-serif;"><strong> MEET THE TEAM</strong> </h4><br><br><br>
               </div>
               <div class="row" style="font-family: 'Oswald', sans-serif;">
                    <div class="col-lg-4">
                        <div class="well"><img class="img-responsive" src="c1.jpg" alt="c1" width="600" height="230"><br><h4>Keyla S.</h4><br>cxxzvczxvzvVxvcvxcvxcvxcv</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well"><img class="img-responsive" src="c2.jpg" alt="c2" width="600" height="230"><br><h4>Michael K.</h4><br>yudahdjahsdjahsdhjhdajs</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well"><img class="img-responsive" src="c3.jpg" alt="c3" width="600" height="230"><br><h4>Callen B.</h4><br>gjhdhajdhjkashdjkahdjkash</div>
                    </div>
                </div>

             </div>
            </div>
            <b>gfghfgh</b>





</body>