<!DOCTYPE html>
<html>

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="source/stylesheets/site.css" rel="stylesheet">
    <link href="source/stylesheets/materialize.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection" />

</head>

<body>

    <div class="row">
        <div class="container">
            <div class="col s12 m4 l3">
                <ul id="nav-mobile" class="side-nav fixed" style="list-style: none">
                    <li class="logo">
                        <img class="responsive-img" src="materialize.png">
                    </li>
                    <li class="search">
                        <div class="search-wrapper card">
                            <input id="search"><i class="material-icons">search</i>
                            <div class="search-results"></div>
                        </div>

                    </li>
                    <li class="bold "><a href="#">About</a></li>
                    <li class="bold "><a href="#">Getting Started</a></li>
                    <li class="bold "><a href="# ">CSS</a></li>
                    <li class="bold "><a href="# ">Components</a></li>
                    <li class="bold "><a href="# ">JavaScript</a></li>
                    <li class="bold "><a href="# ">Mobile</a></li>
                    <li class="bold "><a href="# ">Showcase</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="col s12 m8 l9">
                <h1>Materialize</h1>
                <div class="text-center">
                    <h4>A modern responsive front-end framework based on Material Design</h4>
                    <br><br><br>
                    <a class="waves-effect waves-light btn-large">GET STARTED</a>
                    <br>
                    <h6>beta release v0.97.7</h6><br>
                    <img class="responsive-img" src="jup.jpg" width="130px"><br>
                    <h6>26,000 users can't be<br>
                 wrong. Join t <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">hem and <br>
                 download Jupiter today.<br>
                 ads via Carbon</h6>
                </div>
            </div>
        </div>
    </div>









    <script type="text/javascript " src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script type="text/javascript " src="javascripts/materialize.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>

</html>