<!DOCTYPE html>
<html>

<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="source/stylesheets/site.css" rel="stylesheet">
    <link href="source/stylesheets/materialize.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection" />

</head>

<body>

    <div class="row">

        <div class="col s12 m3 l1">
            <div class="container">
                <ul id="nav-mobile" class="side-nav fixed" style="list-style: none">
                    <li class="logo">
                        <img class="responsive-img" src="materialize.png" width="130px">
                    </li>
                    <li class="search">
                        <div class="search-wrapper card">
                            <input id="search"><i class="material-icons">search</i>
                            <div class="search-results"></div>
                        </div>

                    </li>
                    <li class="bold "><a href="#">About</a></li>
                    <li class="bold "><a href="#">Getting Started</a></li>
                    <li class="bold "><a href="# ">CSS</a></li>
                    <li class="bold "><a href="# ">Components</a></li>
                    <li class="bold "><a href="# ">JavaScript</a></li>
                    <li class="bold "><a href="# ">Mobile</a></li>
                    <li class="bold "><a href="# ">Showcase</a></li>
                </ul>
            </div>
        </div>


        <div class="col s12 m9 l11">
            <div class="row">

                <div class="col s12 m12 l12 background1" style="padding-left: 150px">
                    <div class="container">
                        <h1 style="margin-left:-80px;">Materialize</h1>
                        <div class="center-align">
                            <h4 style="margin-left:10px;">A modern responsive front-end framework based on Material Design</h4>
                            <br><br><br>
                            <a class="waves-effect waves-light btn-large" style="background-color:#ff9999">GET STARTED</a>
                            <br>
                            <h6>beta release v0.97.7</h6><br>
                            <img class="responsive-img" src="jup.jpg" width="130px"><br>
                            <h6>26,000 users can't be<br>
                    wrong. Join them and <br>
                    download Jupiter today.<br>
                    <small>ads via Carbon</small></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row l9 background2" style="margin-top:-20px; ">
                <div class="col s9 m9 " style="padding-left: 250px; padding-top: 15px;">
                    <h6>Latest Commit on Github: 01sd151551sc515      about  11  hours ago</h6>
                </div>
                <div class="col s3 m3 l3 background2" style="padding-top: 15px;">
                    <a class="waves-effect waves-light btn" style=" background-color: dimgray">GITHUB</a>
                </div>


            </div>
            <div class="row center-align">
                <div class="col s12 m12 l12" style="padding-left: 150px">
                    <img class="responsive-img " src="responsive.png " width="50% ">
                </div>
            </div>
            <h3 class="center-align" style="padding-left: 170px; padding-top: 70px; color:#ff8080;">Materialize simplifies life for<br>developers and the users they serve.</h3>
            <div class="row center-align" style="padding-left: 170px; padding-top: 70px;">

                <div class="col s4">
                    <i class="fa fa-bolt" style="font-size:68px;color:#ff8080;"></i>
                    <h5>Speeds up development</h5><br>
                    <p>We did most of the heavy lifting <br>for you to provide a default<br> stylings that incorporate our<br> custom components.<br> Additionally, we refined <br>animations and transitions to <br>provide a smoother experience<br> for developers.</p>
                </div>
                <div class="col s4">
                    <i class="fa fa-users" style="font-size:68px;color:#ff8080;"></i>
                    <h5>User Experience Focused</h5><br>
                    <p>By utilizing elements and<br> principles of Material Design,<br> we were able to create a<br> framework that incorporates<br> components and animations<br> that provide more feedback to<br> users. Additionally, a single<br> underlying
                        responsive system<br> across all platforms allow for a<br> more unified user experience.</p>
                </div>
                <div class="col s4">
                    <i class="fa fa-cog" style="font-size:68px;color:#ff8080;"></i>
                    <h5>Easy to work with</h5><br>
                    <p>We have provided detailed documentation<br> as well as specific code examples to help<br> new users get started. We are also always<br> open to feedback and can answer any<br> questions a user may have about<br> Materialize.</p>
                </div>

            </div>
            <hr style="margin-left: 200px;">
            <div class="row center-align">
                <div class="col s12 m12 l12" style="padding-left: 150px">
                    <h3 style="color:#ff8080;"> Materialize Showcase </h3>
                    <p>
                        Checkout what people are creating with Materialize. Get inspired by<br> these beautiful sites and you can even submit your own website to be<br> showcased here.</p><br>
                    <a class="waves-effect waves-light btn-large">EXPLORE OUR SHOWCASE</a>
                </div>
            </div>
        </div>










        <script type=" text/javascript " src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
        <script type="text/javascript " src="javascripts/materialize.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js "></script>
</body>

</html>