<!DOCTYPE html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN">
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wi<dth, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lucida Console:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    
    <title>Bell</title>
</head>
<body>

    <div class="jumbotron background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                <div class="spacing">
                   <div class='pull-left'><h2>Bell</h2>
                   </div>
                   <div class='pull-right'>
                   <a href="#"><i class="fa fa-twitter" style="font-size:30px;color: black;"></i></a>
                   <a href="#"><i class="fa fa-facebook-square" style="font-size:30px;color: black;"></i></a>
                   <a href="#"><i class="fa fa-dribbble" style="font-size:30px;color: black;"></i></a>
                   </div>
                </div>
                </div>
            </div>
        </div>
    

         <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                <div class="text-center">
                    <p><h3>DONT WORRY, THE NEW SITE IS<h3></p>
                    <p><h3>ALMOST DONE</h3></p>
                    <p><h1>143:19:42:36</h1></p>
                    <p><div class="spacing"><h2>days        hours         minutes        seconds<h2>
                       </div></p>
                </div>
                </div>
                
            
                <div class="col-md-12 text-center">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>

                    <br>
                    <br>
                    
                    <div class="row">
                    <div class="col-lg-5 col-lg-offset-2">
                    <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle center-block" type="button" data-toggle="dropdown">Learn More
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                    </div>
                    </div>
                    </div>
        </div>
   </div>
   
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                           <div class="text-center" style="font-family: 'Lucida Console', sans-serif;">
                           <h3><b>ABOUT US</b></h3>
                           <br> <p style="line-height: 32px; font-family: 'Lucida Console', sans-serif;"> 
                                

                                At our core, we’re makers who care deeply that what we make is worthy.
                            <br>
                            Red Panthers is a software consultancy that specialises in Ruby on Rails.<br> We use an innovative unit (pair) based model in all our projects. As part of the model we use of modern agile<br>project management methodologies, interaction design,
                            effective product strategy, trust, transparency<br>and a carefully selected suite of tools to ensure that our clients get the best technological solutions <br>possible as we turn their ideas into scalable and maintainable products.<br> We believe
                            in focusing on the future and moving forward.</p><br><br><br>
                           </div>
                 </div>
              </div>
          </div> <div class="row">
                <div class="col-lg-12">
          <div class="container">
               
                  
                            <div class="allign">
                            
                            <h3 class="text-center" style="font-family: 'Lucida Console', sans-serif;"><b>FEATURES</b></h3>
                                <ul class="list-inline clearfix" style="font-family: 'Lucida Console', sans-serif;">
                                <li class="text-center"><i class="fa fa-mobile-phone" style="font-size:48px;color:#00FFFF"></i><h4 style="font-family: 'Lucida Console', sans-serif;">Fully Responsive</h4><hr><h5 style="line-height: 20px; font-family: 'Lucida Console', sans-serif;">Crafted to provide an optimal viewing experience with a minimum of resizing,and panning a wide range of devices</h4> </li>
                                <li class="text-center"><i class="fa fa-twitter" style="font-size:48px;color: #00FFFF;"></i><h4 style="font-family: 'Lucida Console', sans-serif;">Twitter Feed</h4><hr><h5 style="line-height: 20px; font-family: 'Lucida Console', sans-serif;" >Encourage visitors to follow you and interact with you, which can result in new connections,clients or just friends</h4></li>
                                <li class="text-center"><i class="fa fa-clock-o" style="font-size:48px;color:#00FFFF"></i><h4 style="font-family: 'Lucida Console', sans-serif;">Countdown Clock</h4><hr><h5 style="line-height: 20px; font-family: 'Lucida Console', sans-serif;">Animated LIVE countdown that counts seconds, minutes, hours and days to any date. </h4></li>
                                </ul>
                             
                            </div>

                           
            </div>
            <br><br><br><br><br><br><br><br><br><br>
            <div class="container-fluid">
        
            <div class="jumbotron external">
               <div class="text-center">
                <h2 style="font-family: 'Lucida Console', sans-serif;"><strong> MEET THE TEAM</strong> </h2><br><br><br>
               </div>
               <div class="row" style="font-family: 'Lucida Console', sans-serif;">
                    <div class="col-lg-4">
                        <div class="well"><img class="img" src="c1.jpg" alt="c1" height="150px" width= "150px"><br><h4>Keyla S.</h4><br>cxxzvczxvzvVxvcvxcvxcvxcv</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well"><img class="img" src="c2.jpg" alt="c2" height="150px" width= "150px"; ><br><h4>Michael K.</h4><br>yudahdjahsdjahsdhjhdajs</div>
                    </div>
                    <div class="col-lg-4">
                        <div class="well"><img class="img" src="c3.jpg" alt="c3" height="150px" width= "150px"><br><h4>Callen B.</h4><br>gjhdhajdhjkashdjkahdjkash</div>
                    </div>
                </div>

             </div>
            </div>
            <div class="container-fluid"> 
            <div class="jumbotron background2">
                 <div class="text-center">
                  
                      <h2>OUR OFFICE IS OUR PLAYGROUND</h2>
                      <br><br><h4>We strongly believe in clean and minimalist designs with the little distraction from the main<br> cause. this also goes to show in the way of our office looks. <h4> 
                  </div> 
             </div>   
             </div>
             <div class="container-fluid"> 
                <div class="text-center" style="font-family: 'Lucida Console', sans-serif;">
                   <h2>GET IN TOUCH</h2><br><br>
                   <h4>Do you have a potential project you'd like to discuss or simply want to get<br> in touch? Send us a email at: hello@bell.com or use the contact form<br> below.<h4>
                   <div class="row">
                   <div class="col-md-12 text-center">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <h4 class="pull-left">Full Name:</h4><br>
                            <label for="Full Name"></label>
                            <input type="name" class="form-control" id="name" placeholder="Enter Full Name" size="70"><br>
                            <h4 class="pull-left">Email: </h4><br>
                            <label for="email"></label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" size="70"><br>
                            <h4 class="pull-left">Message:</h4><br>
                            <label for="message"></label>
                            <input type="message" class="form-control" id="message" placeholder="Enter your message" size="70">
                        </div>
                        <br><br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                 </div>
            </div>
             <div class="container-fluid">
        
            <div class="jumbotron external">
               <div class="text-center">
                <h3 style="font-family: 'Lucida Console', sans-serif;"><strong> FOLLOW US <a>@THEMEWIZZ</a></strong> </h3><br><br><br>
               </div>
               <div class="row" style="font-family: 'Lucida Console', sans-serif;">
                    <div class="col-lg-3">
                        <div class="well"><h5><strong>Jun.25,2016</strong> -$30 instead of $200:<br>Beautiful award winning HTML and <br>Wordpress landing and launching page themes <a>http://t.co/IsbNSeic01</a><br><br></h5></div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well"><h5><strong>Jun.25,2016</strong>-Beautiful multiourpose<br>Wordpress Landing Page<br><a>http://t.co/FYPTGBjjA<br><br><br></h5></div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well"><h5><strong>Jun.19,2016</strong>-RT<a>@themewizz</a>:RT<br><a>@Dec0dig0</a>:The Stackies Beta is going well.<a>#gamedev</a> <a>#gamedesign</a> <a>#indiegame</a> <a>#indiegamedev</a> <a>htto://t.co/ic9mDYc4gi</a></h5></div>
                    </div>
                     <div class="col-lg-3">
                        <div class="well"><h5><strong>Jun.6,2016</strong>-I will send yc<br>quality wordpress themes<br><a>http://co/TkObAEDjo3</a><br><br><br></h5></div>
                    </div>
                </div>

             </div>
            </div>
            <div class="container-fluid">
            <div class="row">
            <div class="col-lg-12"><img class="img" src="envato-Logo-Font.jpg" alt="c2" height="150px" width= "300px";>
            <img class="img" src="themeforest.png" alt="c2" height="120px" width= "300px";>
            <img class="img" src="themewizz.png" alt="c2" height="80px" width= "300px";>
            <img class="img" src="dewalt-logo.jpg" alt="c2" height="120px" width= "300px";>
            </div>
            </div>
            </div>
            <div class="container-fluid">
            <footer style="background-color:#87CEFA; color:	#696969" >
            <div class="row center-block">
            <div class="col-lg-4">
            <h5>CONNECT WITH US</h5><br>
                   <a href="#"><i class="fa fa-twitter-square" style="font-size:30px;color: 	#696969;"></i></a>
                   <a href="#"><i class="fa fa-facebook-square" style="font-size:30px;color: 	#696969;"></i></a>
                   <a href="#"><i class="fa fa-dribbble" style="font-size:30px;color: 	#696969;"></i></a>
                   <a href="#"><i class="fa fa-google-plus-square" style="font-size:30px;color: 	#696969;"></i></a>
            </div>
            <div class="col-lg-4">
            <h5>OUR BLOG</h5><br>
                   hkjkhklvmsvnmZnvm,zncj j jhfk jhjkjdfkSMlsHklnjnknj  kjnJKnjkn<br>
                   njkfhjkmkNJFLMFKSDMLKJF <a>Read More...</a>
            </div>
            <div class="col-lg-4">
            <h5>TALK TO US</h5><br>
                  <a>support@themewizz.com</a>
                  <a>@themewizz</a>
            </div>
   
    </div>
     <hr>
    <div class="row">
    <div class="text-center">
    <p>2016 BELL INC.  MADE IN NYC<p>
    </div>
    </div>
    </div>
</body>